@import './config';

main {
    margin-top: 195px;
}

section {
    background-color: $grey_900;
    max-width: 410px;
    margin: auto;
    padding: 33px 30px 30px;
    border-radius: 18px;
}

.icon-star {
    padding: 15px;
    border-radius: 50%;
    background: $grey_shadow;
    margin-bottom: 30px;
}

h1 {
    color: $white;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

fieldset {
    border: none;
}

legend {
    font-size: .9375rem;
    line-height: 1.6;
}

.button-grp {
    display: flex;
    column-gap: 20px;
    margin-top: 23px;
    margin-bottom: 32px;
}

button[type="button"]{
    font-family: "Overpass", sans-serif;
    font-size: .9375rem;
    background: $grey_shadow;
    color: $grey_500;
    border: none;
    font-weight: 700;
    padding: 16px 22px;
    border-radius: 50%;

    &:hover {
        background: $orange;
        color: $grey_900;
    }

    &:focus {
        background: $white;
        color: $grey_900;
    }
}

button[type="button"].selected {
    background: $white;
    color: $grey_900;
}

button[type="submit"]{
    width: 100%;
    height: 46px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: $orange;
    font-family: "Overpass", sans-serif;
    font-size: .9375rem;
    font-weight: 700;
    color: $grey_950;
    letter-spacing: 2px;

    &:hover {
        background: $white;
    }
}

#ratingStateContainer {
    // display: none;
}

#thankYouStateContainer {
    display: none;
    text-align: center;
    padding: 45px 35px 46px;

    h2 {
        color: $white;
        font-size: 1.65em;
        margin-bottom: 13px;
    }
}

.rating-selection {
    display: inline-block;
    color: $orange;

    &-wrapper {
        background: $grey_shadow;
        padding-top: 6px;
        padding-bottom: 6px;
        margin: 26px auto 38px;
        width: 50%;
        border-radius: 16px;
    }
}

.thank-you-msg {
    line-height: 1.5;
}

.no-rating-selected {
    border: 1px solid $white;
}