@import './config';

section {
    background-color: $grey_900;
    max-width: 410px;
    margin: auto;
    padding: 35px 30px 30px;
    border-radius: 18px;
}

.icon-star {
    padding: 14px;
    border-radius: 50%;
    background: $grey_shadow;
    margin-bottom: 30px;
}

h1 {
    color: $white;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

fieldset {
    border: none;
}

legend {
    font-size: .9375rem;
    line-height: 1.6;
}

.button-grp {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
}

button[type="button"]{
    font-family: "Overpass", sans-serif;
    font-size: .9375rem;
    background: $grey_shadow;
    color: $grey_500;
    border: none;
    font-weight: 700;
    padding: 16px 22px;
    border-radius: 50%;
}